@import "compass";

$vert:#00b8a9;
$bleu:#004182;
$light:#eee;
$blanc:#fff;

*{
	margin:0;
	padding:0;
	outline:none;
	@include box-sizing(border-box);
	font-family: 'PT Sans', sans-serif;
}

body{
	background:$light;
	color:$bleu;
}

#header{
	background:$vert;
	color:$blanc;

	h1{
		display:block;
		margin:0 20px;
		font-weight:normal;
		font-size:36px;
		line-height:70px;
	}
}

#form{
	background:$bleu;
	color:$blanc;
	padding:5px 5px 15px 20px;
	@include clearfix();
	
	input, select, button{
		display:block;
		float:left;
		height:30px;
		line-height:28px;
		border:none;
		font-size:18px;
		margin-right:10px;
		margin-top:10px;
	}
	input{
		width:185px;
		text-align:center;
		@include appearance(textfield);

		&::-webkit-inner-spin-button, 
		&::-webkit-outer-spin-button{
			@include appearance(none);
			margin:0;
		}
	}
	select{
		padding:0 10px;
		background:$blanc;
		color:$bleu;
		width:185px;

		&.large{
			width:380px;
		}
	}
	button{
		padding:0 10px;
		color:$blanc;
		background:$vert;
		font-weight:bold;
		cursor:pointer;
	}
}

#result{
	background:$blanc;
	margin:20px 20px 58px;
	padding-bottom:20px;
	@include border-radius(2px);
	overflow:hidden;
	@include box-shadow(0 0 15px 0 rgba(0,0,0,0.2));

	h2{
		background:$bleu;
		color:$blanc;
		text-align:center;
		font-weight:normal;
		font-size:22px;
		line-height:50px;
	}
	.direction{
		background:#eee;
		margin:20px 20px 0;
		padding:15px;
		color:$bleu;
		@include border-radius(2px);
		overflow:hidden;

		h3{
			font-size:22px;
			line-height:30px;
			padding-bottom:5px;
		}
		.stop{
			font-size:18px;
			line-height:28px;
		}
	}
}

#error{
	text-align:center;
	color:$bleu;
	padding:20px 20px 58px;
	font-size:18px;
	line-height:28px;
}

#footer{
	background:$bleu;
	color:$blanc;
	position:fixed;
	top:100%; right:0; left:0;
	@include transition(margin 0.15s, padding 0.15s);
	padding:0 20px;
	text-align:center;
	font-size:14px;
	line-height:18px;
	margin-top:-38px;
	height:100px;

	p{
		padding:10px 0 0 0;
	}

	a{
		color:$blanc;
		text-decoration:underline;
	}

	&:hover,
	&:active,
	&:focus{
		padding-top:10px;
		margin-top:-86px;
	}
}
